{% extends "wrapper.html" %}
{% block title %} Create a Bild {% endblock %}
{% block content %}
<form>
    <div class="row">
        <div class="large-12 columns">
            <label>Title</label>
            <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>Content</label>
            <textarea></textarea>
        </div>
    </div>
    <div class="row">
        <div class="large-8 columns">
            <label>Tags</label>
            <input type="text">
        </div>
    </div>
    <div class="row">
        <input style="margin-left: 15px" type="submit">
    </div>
</form>
{% endblock %}
